@import url('https://narendilfox.github.io/gard_b.css'); 
@import url('https://narendilfox.github.io/gard_m_b.css');

.page_header+table tr:not(div#profile_profile tr,td.profile_leftside tr,script+table[cellpadding="0"] tr,.profile_blogentry tr,div#profile_album tr) {
    display: flex;
    width: 70%;
    flex-direction: row-reverse;
    max-width: 1024px;
    margin-left: 30%;
}


td.profile_leftside1 {
    width: 32%;
}

img.photo {
    border: unset !important;
}

td.profile_photo,td.header, .page_header,td.profile,.profile_content,div.profile_action,
.browse_friends_result,.profile_blogentry,.profile_blogentry+div {
    border: unset !important;
}

img.icon {
    display: none;
}

td.profile_rightside {
    background: #fbfbfb url(https://i.ibb.co/w7FtJLd/image.png) fixed!important;
    padding: 0px;
    max-width: 750px;
    margin-left: unset !important;
    margin-right: auto !important;
}


td.profile_rightside {
    min-height: 100vh;
    padding: 20px !important;
}

td.profile_rightside a:hover,
td.profile_leftside a:hover {
    color: #ffffff !important;
}

td.profile_tab2 a:hover, td.profile_tab a:hover {
    background: #282828 !important;
    color: #b1b1b1 !important;
}


td.profile_tab2 a,
td.profile_menu1 a, div.nolink {
    background: #2828286b!important;
    color: #b1b1b1;
}


td.profile_tab2 a:hover,
td.profile_menu1 a:hover, div.nolink:hover {
    background: #282828!important;
    color: #ffffff;
}


td.profile_tab a {
    background: #fbfbfb !important;
    color: #b1b1b1 !important;
}




.gifts-list {
    font-size: 14px;
}

[src="/images/verify.png"] {
    width: 16px !important;
}

.gifts-list {
    margin: 0px;
}

.gifts-list {
    background: transparent;
}
