@import url('https://AstralSnake.github.io/sticer.css');

div#lefthome * {
border: unset;
} 


.text-muted {
    color: rgb(170 170 170);
}
.post_home a {
    color: rgb(170 170 170);
}
img.menu_icon2 {
  display: none;
}
