.seBlogColumnRightPadding {position:relative; right: 50px !important; padding:0px;}
.p-1 a {display:none !important;}
.top_header:not([logo]) table { background: url(https://beon.vip/uploads_image/86/4c/864cf272c640345742fe3f77cd9ad36f.png) no-repeat; background-size: auto !important;}
.top_menu {background: #fff repeat fixed !important; width: 900px !important;}
.profile_comment_date { background: #fff !important; border: none !important; background: #fff;}
.profile_comment_author { background: #fff !important; border: none !important; background: #fff;}
div.copyright {display:none !important; display:none;}
div { color: #000 !important;
color: #000;}
img.button {display: none;}
.menu_item_dropdown a {border:none; background: #fff; color: #000; transition:0.25s; font-size:15px;}
.menu_item_dropdown a:hover {background: #000 !important; color:#fff !important; font-size:17px;}
body {background-color: #fff;}
.seBlogColumnRightPadding img {display: none;}
.top_menu {background: #fff!important; width: 900px !important;}
.top_header { background: #fff;padding: 0px; box-shadow:none!important;box-shadow:none;}
.top_header img {opacity: 0;}
div, a, td {border:none !important;border: none;}
.button {border: none; background: #fff; height: 24px; color: black;}
.button:hover {border: none; background-color: #fff; color: #000;}
.badge-danger {color: #fff; background-color: #000;}
.button_down{-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
background-color: white;}
.button_down:hover { background-color: #000000;}
.button_down:focus {outline:none!important;}
.button_down img {opacity:1;}
#newupdates img {opacity:0 !important;}
.btn-primary {-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
background-color: white;
color: black;
border: 1px solid #000000;}
.btn-primary:hover { background-color: #000000;
color: white;
border: 1px solid #000000;}
td.header {display:none !important;}
.icon { display: none !important; display:none;}
table.profile_menu {border: none;}
a {color: #000000 !important;color: #000000; text-decoration:none!important; text-decoration:none;}
.content {display: block; width: 1000px !important;max-height: 800x !important;}
.comment_headline { background-color: #ffffff;}
.comment_area {border: 1px solid #000000};
.comment_body:focus {outline:none!important;}
.menu_icon2{ display: none;}
img.photo {border:none;}
#lefthome > div > div:nth-child(2) > div > div.card-body {display: none; display: none !important;}
div.card-header {display: none; display: none !important;}
div.card.blog_gifts {display: none; display: none !important;}
.btn-outline-success:focus, .btn-outline-success.focus {box-shadow:none;}
.comment_area:focus {outline:none;}
.navbar-light .navbar-toggler:focus {outline:none;}
#mobile_menu .menu_item_dropdown a {
background: #555555;
color: #ffffff;
}
#designs {display:none; display:none !important;}
nav.top_menu div.p-1 a {opacity: 0;}
#mobile_photo_wrap {background: #fff; padding-bottom: 6px;}
#mobile_menu .menu_item_dropdown a {background: #fff; color:#000;}
#mobile_menu .menu_item_dropdown a:hover {background: #000 !important; color:#fff !important;}
div.portal_spacer {display:none;}
body > nav {background: #fff; border:none;}
.btn-outline-success {border-color: #000; color: #000;}
.btn-outline-success:hover {background: #000; color: #000;}
.navbar-light .navbar-toggler {border:none;}
#bbcode {opacity:0;}
#bbcode:hover {opacity:1;}
.userphoto_selected {background: #000;}
#postcomment_userphotos {width: 13% !important; border: 1px solid #000; border: 1px solid #000 !important; margin-left: 10px !important;}
.userphoto_comment img {background: none; border:none;}

::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:2px;
height:0px
}
::-webkit-scrollbar-track {
background-color:#fff;
box-shadow: none;
width: 2 px;
border-right: 1px solid #000;
}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#000;
box-shadow:none;
background-image:url('https://yraaa.ru/_pu/24/59610063.png">https://yraaa.ru/_pu/24/59610063.png');
background-position:center;
background-repeat:no-repeat;
}
::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}
::-webkit-scrollbar{
width: 5px;
}
.text-muted {font-size: 11px !important; color:#000;}
#comment_user_status {font-size: 11px;}
.blog_leftsearch {display:none;}
p {margin-bottom: 0.1rem;}
div.additional_info.pl-3 {margin-top:2rem;}
nav .p-1 {background: url(https://beon.vip/uploads_image/86/4c/864cf272c640345742fe3f77cd9ad36f.png)">https://beon.vip/uploads_image/86/4c/864cf272c640345742fe3f77cd9ad36f.png) no-repeat;
-webkit-background-size:100px,50px;
position:relative; right: 10px; top: 8px;}href="https://beon.vip/uploads_image/86/4c/864cf272c640345742fe3f77cd9ad36f.png)">https://beon.vip/uploads_image/86/4c/864cf272c640345742fe3f77cd9ad36f.png) no-repeat;
-webkit-background-size:100px,50px;
position:relative; right: 10px; top: 8px;} 
