#righthome {
margin-top:-5px!important;
box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, .25);
background-color:#474946;
width:70% !important;
border-radius: 0px; 
margin-bottom: -45px!important;
margin-left:30px!important;
border-style: solid;
border-color: #A3CF82;
border-width: 0.5px;}

#lefthome{
margin-top:25px!important;
margin-left:45px!important;
overflow: auto;
text-align:center;
box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, .25);
background-color:#474946;
width:260px!important;
height: 1350px!important;
border-radius: 0px; 
border-style: solid;
border-color: #A3CF82;
border-width: 0.5px;}

.mt-3{text-align: center;}

.mt-3{text-align: center;}

button.button_down{background:url(https://i.imgur.com/c2A16p0.png) no-repeat !important;
background-position: center !important;
border-radius: 0px;}

.top_header:not([logo]) table { background: url(https://i.imgur.com/iQy9DLt.png) left no-repeat;}
button#newupdates {background: url(https://i.imgur.com/QgUuVR4.png) center no-repeat !important;}
button#newupdates {background: url(https://i.imgur.com/QgUuVR4.png) center no-repeat;}
.top_header img {opacity: 0;}

body {
background: url(https://i.imgur.com/VxVocsQ.png) repeat ;
background-attachment: fixed;
color: #A3CF82 !important;}
.btn-primary {background-attachment: fixed;
background: #474946 ;
border: none;
box-shadow: none;
color: #A3CF82;}
.top_menu{background: #474946;}

div, a, td {border;
font-family: Century Gothic;
color: #A3CF82 !important;}
div, a, td {border;
font-family: Century Gothic;
color: #A3CF82;}

.top_header {background: #474946;
box-shadow: 0 2px 9px rgba(0, 0, 0, .25);
margin-bottom: 0px !important;
margin-left: 0px !important;
border-radius: 0px;
border-style: solid;
border-color: #A3CF82;
border-width: 0px;
box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, .25);}
.top_menu{background: #474946;}

.top_menu {
color: #A3CF82!important;}

.menu_icon2{ display: none;}
.blog_leftsearch{ display: none;}

.menu_dropdown { border: none !important;
border-radius: 20px !important;
background: #474946!important;
color: #A3CF82 !important;
border-radius: 0px!important;}

a.menu_item { background: rgb(255, 255, 255, 0.0)!important;
color: #A3CF82 !important;}

a.menu_item:hover { background:rgb(163, 207, 130, 0.25) !important;
color: #A3CF82 !important;}

.btn-primary {
background: rgb(255, 255, 255, 0.0)!important;
border: none;
box-shadow: none !important;
color: #A3CF82 !important;}

.content {display: block;
max-width: 1250px !important;
background: transparent;
border-radius: 70px !important;}

input {border: none !important;;
background-color: rgb(255, 255, 255, 0.50) !important;
color: #A3CF82 !important;
background-position: center !important;}

textarea {border: none !important;;
box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, .25);
background-color:#474946;
color: #A3CF82 !important;
border-radius: 0px!important;
border-style: solid;
border-color: #A3CF82;
border-width: 0.5px;}

.profile_postcomment {
box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, .25);
background-color:#474946;!important;
border-radius: 0px!important;
border-style: solid;
border-color: #A3CF82;
border-width: 0.5px;}

input#comment_submit.button {border: none !important;
color: #A3CF82 !important;
box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, .25);
background-color:#474946!important;
border-radius: 0px !important;
border-style: solid;
border-color: #A3CF82;
border-width: 1px;}

.img-thumbnail {
padding: none;
background-color: transparent;
border: none;}

.userphoto_selected {
background: #A3CF82;
border-radius: 0px!important;}

.card.mb-2.post_home{width: 852px !important;
background-color: rgb(255, 255, 255, 0.0); 
border-radius: 0px !important;
box-shadow: 0px rgba(0, 0, 0, .25);
padding: 15px;
margin-top:30px!important;
border-style: solid;
border-color: #A3CF82;
border-width: 0.5px;}
.card.mb-2.post_home{border-radius: 0pxpx;
border-style: solid;
border-color: #A3CF82;
border-width: 0px;}

.seBlogComments{width: 852px !important;
box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, .25);
background-color:#474946;
border-radius: 0px!important;
padding-top: 25px;
padding-left: 25px;
padding: 15px;
margin-bottom:40px!important;
border-style: solid;
border-color: #A3CF82;
border-width: 0.5px;}
.seBlogComments{
border-radius: 0px ;
padding-top: 25px;
padding-left: 25px;
border-style: solid;
border-color: #A3CF82;
border-width: 0.5px;}

::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:0px;
height:0px;}

::-webkit-scrollbar-track {
background-color:#474946;}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color: #A3CF82;
background-image:url('');
background-position:center;
background-repeat:no-repeat;}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:0px;
height:0px;}

::-webkit-scrollbar{
width: 10px;}

.modal-content {
border-radius: 0px !important;
color: #A3CF82 !important;
background: #474946!important;}
.modal-header {background: #474946!important;
color: #A3CF82 !important;
border-radius: 0px !important;}
button.btn.btn-secondary {background: #474946!important;
color: #A3CF82 !important;
border:none;}
.modal-content {
border-radius: 0px;
color: #A3CF82;
background: #474946;}
.modal-header {background: #474946;
color: #A3CF82;
border-radius: 0px;}
button.btn.btn-secondary {background: #474946;
color: #A3CF82;
border:none;}

div#TB_window {border-radius: 0px !important;
color: #A3CF82 !important;
background: #474946 !important;}
div#TB_window {border-radius: 0px ;
color: #A3CF82;
background: #474946 ;}
input.button {background:#474946 !important;
color: #A3CF82 !important;
border-radius: 0px!important;
border:none;}
input.button {background: #474946 ;
color: #A3CF82;
border-radius: 0px;
border:none;}
div#TB_title {background: #474946 !important;
color: #A3CF82 !important;
border:none;}
div#TB_title {background: #C3E3E8;
color: #A3CF82;
border:none;}

#mobile_photo_wrap{
background:# rgb(255, 255, 255, 0.50)  ;}
img.photo{border:none;}
#mobile_menu .menu_item_dropdown a {background: #474946  ;}
#mobile_menu .menu_item_dropdown a:hover {background: #474946   ;}
.portal_spacer{background: #474946;}

nav .p-1 {
background: url(https://i.ibb.co/tYWhZBt/beon1.png) no-repeat;
-webkit-background-size:100px,50px; position:relative; right: 10px; top: 8px;}
nav.top_menu .p-1 a {
opacity: 0;
}
.top_menu img {
opacity: 0;
}nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu{background: #474946 ;
border-bottom: none;
border-top: none;
border-left: none;
border-right: none;}
.btn.btn-outline-success {background: #474946;
color:#A3CF82;
border:none;}
div#profile_profile{border:none;}body { background-image: url('https://beon.vip/uploads_user/12000/11313/276661acc9506fc79e2122f9c8ce91ea.jpg'); }body { background-position: center; }body { background-repeat: repeat; }body { background-attachment: fixed; }.post_home { background-color: none; }.card-title { background: #122626; }.post_home { color: #122626; }.text-muted { color: #122626; }.post_home a { color: #1e3c3a; }.button a { color: #1e3c3a; }.post_home { background-image: url('https://beon.vip/uploads_user/12000/11313/12eed143a355c8e3724cd3a551bbc7a9.png'); }.post_home { background-position: top left; }.post_home { background-repeat: repeat; }.seBlogComments { background-color: none; }.comment_headline { background: #122626; }.seBlogComments { color: #122626; }#comment_user_status { color: #122626; }.seBlogComments a { color: #1e3c3a; }.seBlogComments { background-image: url('https://beon.vip/uploads_user/12000/11313/7e6e45880644ebfaadeea9343a92e6a5.png'); }.seBlogComments { background-position: top left; }.seBlogComments { background-repeat: repeat; }.seBlogColumnRightPadding .card { background-color: none; }.seBlogColumnRightPadding .card-title { background: #081a17; }.seBlogColumnRightPadding .card { color: #081a17; }.text-muted { color: #081a17; }.seBlogColumnRightPadding .card a { color: #1e3c3a; }.button a { color: #1e3c3a; }.seBlogColumnRightPadding .card { background-image: url('https://beon.vip/uploads_user/12000/11313/1b7b23f5e7744458d1e866b188567fb7.png'); }.seBlogColumnRightPadding .card { background-position: top left; }.seBlogColumnRightPadding .card { background-repeat: repeat; }</style>

</head>
